<div class="page page-team-details" *ngIf="!loading && data.statusId == 1">
	<h1 class="clearfix">
		<div class="team-logo">
			<img [src]="teamId | teamLogo:divisionId" alt="Team logo {{data.data.teamData.teamLongname}}" title="Team logo {{data.data.teamData.teamLongname}}" width="75" />
		</div>
		<div class="team-info">
			<div class="team-name">{{data.data.teamData.teamLongname}}</div>
			<div class="team-trainer">
				<span *ngIf="data.data.teamData.teamInformationParsed.trainer">
					<strong>Trainer:</strong> {{data.data.teamData.teamInformationParsed.trainer}}
				</span>
				<span *ngIf="data.data.teamData.teamInformationParsed.coTrainer">
					&ndash; <strong>Co-Trainer:</strong> {{data.data.teamData.teamInformationParsed.coTrainer}}
				</span>
			</div>
			<div class="team-successes hidden-xs">{{(data.data.teamData.teamInformationParsed.successes || '') | replaceAll:'&lt;br&gt;':' - '}}</div>
		</div>
	</h1>

	<div *ngIf="!scheduleLoading">
		<div *ngIf="liveGames.length == 0">
			<!-- No live games, show past / future -->
			<game-results title="Letztes Spiel" [games]="pastGames"></game-results>
			<game-results title="Nächstes Spiel" [games]="futureGames" [showScore]="false"></game-results>
		</div>
		<div *ngIf="liveGames.length > 0">
			<game-results title="Live" [games]="liveGames"></game-results>
		</div>
	</div>

	<tabs>
		<tab title="Team Stats">
			<h2>{{divisionName}}</h2>

			<div class="table-responsive stats-table">
				<table class="table table-hover">
					<tr>
						<th>Spiele gespielt</th>
						<td>{{data.data.teamStats.gamesPlayed}}</td>
					</tr>
					<tr>
						<th>Powerplay</th>
						<td>{{data.data.teamStats.powerplay}} ({{data.data.teamStats.powerplayPercentage}})</td>
					</tr>
					<tr>
						<th>Penalty Kill</th>
						<td>{{data.data.teamStats.penaltykill}} ({{data.data.teamStats.penaltyKillingPercentage}})</td>
					</tr>
					<tr>
						<th>Minuten im Penalty</th>
						<td>{{data.data.teamStats.penaltyMinutes}}</td>
					</tr>
					<tr>
						<th>Minor Penalties</th>
						<td>{{data.data.teamStats.minorPenalties}}</td>
					</tr>
					<tr>
						<th>Major Penalties</th>
						<td>{{data.data.teamStats.majorPenalties}}</td>
					</tr>
					<tr>
						<th>Torschüsse</th>
						<td>{{data.data.teamStats.shotsOnGoalTotal}}</td>
					</tr>
					<tr>
						<th>Tor-Effizienz</th>
						<td>{{data.data.teamStats.scoringEfficiency}}</td>
					</tr>
				</table>
			</div>
		</tab>
		<tab title="Kader">
			<div class="row">
				<div *ngFor="#player of squad; #i = index">
					<div *ngIf="i % 4 == 0" class="clearfix visible-md-block visible-lg-block"></div>
					<div *ngIf="i % 3 == 0" class="clearfix visible-sm-block"></div>
					<div *ngIf="i % 2 == 0" class="clearfix visible-xs-block"></div>

					 <div class="player-container col-xs-6 col-sm-4 col-md-3">
						<div class="player">
						 	<div class="height-container"></div>
							<div class="image-container">
								<div class="image">
									<object data="{{player.id | playerPortrait}}" type="image/png" class="img-responsive">
										<img src="http://api3.hockeydata.net/img/icehockey/_static/ghost-player.png" class="img-responsive" />
									</object>
								</div>
							</div>
							<div class="details">
								<div class="number">{{player.playerJerseyNr || ''}}</div>
								<div class="text">
									<div class="name">
										<span class="lastname">{{player.playerLastname}}</span>
										<span class="firstname">{{player.playerFirstname}}</span>
									</div>
									<div class="position">{{fullPosition[player.position]}}</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</tab>
	</tabs>
</div>
<div class="page page-team-details" *ngIf="loading">
	Lade Teamdetails ...
</div>
<div class="page page-team-details" *ngIf="!loading && data.statusId != 1">
	<h2>Daten konnten nicht geladen werden: {{data.statusMsg}}</h2>
</div>