<div class="main-container">
	<nav>
		<a href="#/home" [class.active]="routeActive('home')">
			<div class="nav-content">
				<div class="fa fa-home"></div>
				Home
			</div>
		</a>
		<a href="#/teams" [class.active]="routeActive('teams')">
			<div class="nav-content">
				<div class="fa fa-users"></div>
				Teams
			</div>
		</a>
		<a href="#/games" [class.active]="routeActive('games')">
			<div class="nav-content">
				<div class="fa fa-trophy"></div>
				Spiele
			</div>
		</a>
		<a href="#/settings" [class.active]="routeActive('settings')">
			<div class="nav-content">
				<div class="fa fa-cog"></div>
				Einstellungen
			</div>
		</a>
	</nav>

	<main>
		<router-outlet></router-outlet>
	</main>
</div>