.page {
	h1 {
		color: $main-color;
	}
	h1:not(:first-child) {
		border-top: 1px solid #ddd;
		padding-top: 20px;
	}
}

@import "Home/Home";
@import "Teams/Teams";
@import "TeamDetails/TeamDetails";
@import "Games/Games";
@import "GameDetails/GameDetails";
@import "Settings/Settings";