<div class="page page-home">
	<h1><span class="fa fa-clock-o"></span> Aktuell</h1>
	<div *ngIf="scheduleLoading">
		Loading ...
	</div>
	<div *ngIf="!scheduleLoading">
		<!-- TODO Own Component -->
		<div *ngIf="liveGames.length == 0">
			<!-- No live games, show past / future -->
			<game-results title="Letzte Spiele" [games]="pastGames"></game-results>
			<game-results title="Nächste Spiele" [games]="futureGames"></game-results>
		</div>
		<div *ngIf="liveGames.length > 0">
			<game-results title="Live" [games]="liveGames"></game-results>
		</div>
	</div>

	<h1><span class="fa fa-table"></span> Tabelle</h1>
	<hockey-table *ngFor="#division of divisions" [divisionId]="division.id">{{division.title}}</hockey-table>
</div>