.game-results {
	.subtitle {
		font-size: 12px;
	}
	.game-result {
		display: flex;
		background-color: #ddd;
		border-radius: 5px;
		margin-bottom: 10px;
		cursor: pointer;

		&:nth-child(even) {
			background-color: #eee;
		}

		&:hover, &:focus {
			background-color: #ccc;
		}

		.team-logo {
			flex: none;
			width: 50px;
			margin: 5px;
		}

		.middle-row {
			flex: 1;

			.score-row {
				display: flex;

				.team-name {
					font-size: 18px;
					margin: 5px 10px 0;
					flex: 1;

					&.team-home {
						text-align: right;
					}
				}
				.score {
					font-weight: bold;
					font-size: 24px;
					flex: initial;
				}
			}

		}

		.more-info {
			color: #888;
			font-size: 12px;
			text-align: center;
		}
	}
}